<!DOCTYPE html>
<html lang="cs" class="govuk-template flexbox">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %></title> 
    <%= stylesheet_link_tag 'application',
    'https://fonts.googleapis.com/css?family=Poppins:400,500,700&amp;subset=latin-ext',
     media: 'all', 'data-turbolinks-track' => true %>
     
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

    <link rel="shorcut icon" href="favicon.ico" type="image/x-icon">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="#264796">

    <meta name="description" content="Už přes 25 let. Firma specializovaná na údržbu a BIM.">

    <meta property="og:type" content="business">
    <meta property="og:title" content="JAMPL: ">
    <meta property="og:site_name" content="JAMPL">
    <meta property="og:description" content="Už přes 25 let. Firma specializovaná na údržbu a BIM.">
    <meta property="og:locale" content="cs_CZ">
    <meta property="og:street-address" content="Na Podlesí 1638" />
    <meta property="og:locality" content="Kadaň" />
    <meta property="og:logo" content="" size="307x59">

    <style>
      
      .govuk-template {
          background-color: #dee0e2;
      }
      .govuk-template__body {
          margin: 0;
          background-color: #fff;
      }
      .govuk-heading-xl {
          color: #0b0c0c;
          font-family: "nta", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 700;
          font-size: 32px;
          line-height: 1.09375;
          display: block;
          margin-top: 0;
          margin-bottom: 30px;
      }
      @media (min-width: 40.0625em) {
          .govuk-heading-xl {
              font-size: 48px;
              line-height: 1.04167;
          }
      }
      @media (min-width: 40.0625em) {
          .govuk-heading-xl {
              margin-bottom: 50px;
          }
      }
      .govuk-body {
          color: #0b0c0c;
          font-family: "nta", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.25;
          margin-top: 0;
          margin-bottom: 15px;
      }
      @media (min-width: 40.0625em) {
          .govuk-body {
              font-size: 19px;
              line-height: 1.31579;
          }
      }
      @media (min-width: 40.0625em) {
          .govuk-body {
              margin-bottom: 20px;
          }
      }
      .govuk-grid-row {
          margin-right: -15px;
          margin-left: -15px;
      }
      .govuk-grid-row:after {
          content: "";
          display: block;
          clear: both;
      }
      .govuk-grid-column-two-thirds {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          padding: 0 15px;
      }
      @media (min-width: 40.0625em) {
          .govuk-grid-column-two-thirds {
              width: 66.6666%;
              float: left;
          }
      }
      .govuk-main-wrapper {
          padding-top: 20px;
          padding-bottom: 20px;
          display: block;
      }
      @media (min-width: 40.0625em) {
          .govuk-main-wrapper {
              padding-top: 30px;
          }
      }
      @media (min-width: 40.0625em) {
          .govuk-main-wrapper {
              padding-bottom: 30px;
          }
      }
      .govuk-main-wrapper--l {
          padding-top: 30px;
      }
      @media (min-width: 40.0625em) {
          .govuk-main-wrapper--l {
              padding-top: 50px;
          }
      }
      .govuk-width-container {
          max-width: 960px;
          margin: 0 15px;
      }
      @media (min-width: 40.0625em) {
          .govuk-width-container {
              margin: 0 30px;
          }
      }
      @media (min-width: 1020px) {
          .govuk-width-container {
              margin: 0 auto;
          }
      }
      .govuk-footer {
          font-family: "nta", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.14286;
          padding-top: 25px;
          padding-bottom: 15px;
          border-top: 1px solid #a1acb2;
          color: #454a4c;
          background: #dee0e2;
      }
      @media (min-width: 40.0625em) {
          .govuk-footer {
              font-size: 16px;
              line-height: 1.25;
          }
      }
      @media (min-width: 40.0625em) {
          .govuk-footer {
              padding-top: 40px;
          }
      }
      @media (min-width: 40.0625em) {
          .govuk-footer {
              padding-bottom: 25px;
          }
      }
      .govuk-footer__link:focus {
          outline: 3px solid #ffbf47;
          outline-offset: 0;
          background-color: #ffbf47;
      }
      .govuk-footer__link:link,
      .govuk-footer__link:visited {
          color: #454a4c;
      }
      .govuk-footer__link:hover,
      .govuk-footer__link:active {
          color: #171819;
      }
      .govuk-footer__link:focus {
          color: #0b0c0c;
      }
      .govuk-footer__link:link:focus {
          color: #0b0c0c;
      }
      .govuk-footer__meta {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-right: -15px;
          margin-left: -15px;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
      }
      .govuk-footer__meta-item {
          margin-right: 15px;
          margin-bottom: 25px;
          margin-left: 15px;
      }
      .govuk-footer__meta-item--grow {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
      }
      @media (max-width: 40.0525em) {
          .govuk-footer__meta-item--grow {
              -ms-flex-preferred-size: 320px;
              flex-basis: 320px;
          }
      }
      .govuk-footer__licence-logo {
          display: inline-block;
          margin-right: 10px;
          vertical-align: top;
      }
      @media (max-width: 48.0525em) {
          .govuk-footer__licence-logo {
              margin-bottom: 15px;
          }
      }
      .govuk-footer__licence-description {
          display: inline-block;
      }
      .govuk-footer__copyright-logo {
          display: inline-block;
          min-width: 125px;
          padding-top: 112px;
          background-image: url("https://design-system.service.gov.uk/assets/images/govuk-crest.png");
          background-repeat: no-repeat;
          background-position: 50% 0%;
          background-size: 125px 102px;
          text-align: center;
          text-decoration: none;
          white-space: nowrap;
      }
      @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
          .govuk-footer__copyright-logo {
              background-image: url("https://design-system.service.gov.uk/assets/images/govuk-crest-2x.png");
          }
      }
      .govuk-header {
          font-family: "nta", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.14286;
          border-bottom: 10px solid #fff;
          color: #fff;
          background: #0b0c0c;
      }
      @media (min-width: 40.0625em) {
          .govuk-header {
              font-size: 16px;
              line-height: 1.25;
          }
      }
      .govuk-header__container {
          position: relative;
          margin-bottom: -10px;
          padding-top: 10px;
          border-bottom: 10px solid #005ea5;
      }
      .govuk-header__container:after {
          content: "";
          display: block;
          clear: both;
      }
      .govuk-header__logotype {
          margin-right: 5px;
      }
      .govuk-header__logotype-crown {
          margin-right: 1px;
          fill: currentColor;
          vertical-align: middle;
      }
      .govuk-header__logotype-crown-fallback-image {
          width: 36px;
          height: 32px;
          border: 0;
          vertical-align: middle;
      }
      .govuk-header__link {
          text-decoration: none;
      }
      .govuk-header__link:focus {
          outline: 3px solid #ffbf47;
          outline-offset: 0;
          background-color: #ffbf47;
      }
      .govuk-header__link:link,
      .govuk-header__link:visited {
          color: #fff;
      }
      .govuk-header__link:hover {
          text-decoration: underline;
      }
      .govuk-header__link:focus {
          color: #0b0c0c;
      }
      .govuk-header__link:link:focus {
          color: #0b0c0c;
      }
      .govuk-header__link--homepage {
          font-family: "nta", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 700;
          display: inline-block;
          font-size: 30px;
          line-height: 30px;
      }
      .govuk-header__link--homepage:link,
      .govuk-header__link--homepage:visited {
          text-decoration: none;
      }
      .govuk-header__link--homepage:hover,
      .govuk-header__link--homepage:active {
          margin-bottom: -1px;
          border-bottom: 1px solid;
      }
      .govuk-header__logo {
          margin-bottom: 10px;
          padding-right: 50px;
      }
      @media (min-width: 40.0625em) {
          .govuk-header__logo {
              margin-bottom: 10px;
          }
      }
      @media (min-width: 48.0625em) {
          .govuk-header__logo {
              width: 33.33%;
              padding-right: 0;
              float: left;
              vertical-align: top;
          }
      }
      .govuk-header__logotype-crown,
      .govuk-header__logotype-crown-fallback-image {
          position: relative;
          top: -4px;
      }
      .govuk-header {
          padding-top: 3px;
      }
      .govuk-skip-link {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          overflow: hidden;
          clip: rect(0 0 0 0);
          -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
          white-space: nowrap;
          font-family: "nta", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 14px;
          line-height: 1.14286;
          display: block;
          padding: 10px 15px;
      }
      .govuk-skip-link:active,
      .govuk-skip-link:focus {
          position: static;
          width: auto;
          height: auto;
          margin: inherit;
          overflow: visible;
          clip: auto;
          -webkit-clip-path: none;
          clip-path: none;
          white-space: inherit;
      }
      .govuk-skip-link:focus {
          outline: 3px solid #ffbf47;
          outline-offset: 0;
          background-color: #ffbf47;
      }
      .govuk-skip-link:link,
      .govuk-skip-link:visited,
      .govuk-skip-link:hover,
      .govuk-skip-link:active,
      .govuk-skip-link:focus {
          color: #0b0c0c;
      }
      .govuk-skip-link:link:focus {
          color: #0b0c0c;
      }
      @media (min-width: 40.0625em) {
          .govuk-skip-link {
              font-size: 16px;
              line-height: 1.25;
          }
      }
      body {
          margin: 0;
      }
      @media (max-width: 48.0525em) {
          [class*="govuk-grid-column"] {
              padding: 0 15px;
          }
      }
      @media (max-width: 48.0525em) {
          .govuk-grid-column-two-thirds {
              width: 100%;
          }
      }
      .app-example-page {
          padding: 60px 30px 30px;
      }

      .visually-hidden {
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
      }

      .visually-hidden:active, .visually-hiddene:focus {
        position: static;
        width: auto;
        height: auto;
        overflow: visible;
        clip: auto;
        white-space: normal;
      }
              
    </style>
  </head>

  <body class="">
    <% content_for :title, "Stránka nenalezena – JAMPL" %>
    <a href="#main" class="visually-hidden visually-hidden-focusable">Přeskočit na hlavní obsah stránky.</a>

    <header role="banner">
      <div class="cover bg-left bg-center-l h-50 h-inherit-l jobs__header main-hero--horizontal mb5 pa3">
        <div class="pb5">
          <nav class="header__navigation navbar dn dt-m dt-l w-100 mw8 pv3 center"> 
            <div class="dtc v-mid pa3 jampl-logo">
              <a href="/" class="dib pa1 b--white-90 grow border-box">
                <span class="visually-hidden">Společnost JAMPL</span>
                <svg version="1.1" viewBox="0 0 306.82 58.536" xmlns="http://www.w3.org/2000/svg" width="160" height="28.816" aria-hidden="true">
                  <g transform="matrix(1.3333 0 0 -1.3333 -625.94 372.64)" fill="#fefefe" fill-rule="evenodd">
                    <path fill="#fff" d="m666.36 277.98h13.699l-2.3558-8.7919h-13.699zm-66.965 0h13.699l-2.3558-8.7919h-47.969l2.3559 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.705-21.292h-13.699l6.2479 23.318h47.969l-6.2479-23.318h-13.699l5.7048 21.292-12.641-8.7919zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.2751l-9.4124-14.526zm20.805 32.11 5.6631 8.74 14.221 0.0519 0.7989-8.7919zm-15.761-8.792-1.3005-4.854c-3.0393-11.344-6.5747-18.464-18.464-18.464h-20.689l2.3555 8.7922h17.834c2.2799 0 3.1141 1.6483 3.6507 3.6505l2.9141 10.876zm-29.494 17.584h34.206l-2.3559-8.7919h-34.206zm144.01-26.376-3.8923-14.526h-13.699l5.3173 19.844h2e-4l0.9309 3.4741h27.201c2.4183 0 4.9255 1.9783 5.5735 4.396 0.6477 2.418-0.7999 4.396-3.2176 4.396h-27.201l2.3559 8.7919h30.357c7.2533 0 11.598-5.9346 9.6542-13.188-1.9434-7.2533-9.4688-13.188-16.722-13.188zm49.422 8.7919-3.8926-14.526h26.616l-2.3559-8.7922h-40.315l6.2481 23.318z"/>
                  </g>
                </svg>
              </a>
            </div>
            <div class="nav-items dtc v-mid tr pa3 fw7">
              <a class="relative hover-white no-underline white dn dib-ns pv2 ph3" href="/o-nas" >O nás</a> 
              <a class="relative hover-white no-underline white dn dib-ns pv2 ph3" href="/prehled-cinnosti" >Přehled činností</a> 
              <a class="relative hover-white no-underline white dn dib-l pv2 ph3" href="/bim" >3D a BIM</a> 
              <a class="relative hover-white no-underline white dn dib-l pv2 ph3" href="/reference" >Reference</a> 
              <a class="active relative hover-white  dn dib-l pv2 ph3" href="/kariera" style="text-decoration: none; color: #fff" >Kariéra</a> 
              <a class="relative hover-white no-underline white dn dib-l pv2 ph3" href="/kontakt" >Kontakt</a> 
            </div>
          </nav> 

          <div class="flex nav-mobile ph2 dn-l">

            <a href="/">
              <svg version="1.1" viewBox="0 0 306.82 58.536" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="jampl-logo--mobile">
                <g transform="matrix(1.3333 0 0 -1.3333 -625.94 372.64)" fill="#fefefe" fill-rule="evenodd">
                  <path fill="#fff" d="m666.36 277.98h13.699l-2.3558-8.7919h-13.699zm-66.965 0h13.699l-2.3558-8.7919h-47.969l2.3559 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.705-21.292h-13.699l6.2479 23.318h47.969l-6.2479-23.318h-13.699l5.7048 21.292-12.641-8.7919zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.2751l-9.4124-14.526zm20.805 32.11 5.6631 8.74 14.221 0.0519 0.7989-8.7919zm-15.761-8.792-1.3005-4.854c-3.0393-11.344-6.5747-18.464-18.464-18.464h-20.689l2.3555 8.7922h17.834c2.2799 0 3.1141 1.6483 3.6507 3.6505l2.9141 10.876zm-29.494 17.584h34.206l-2.3559-8.7919h-34.206zm144.01-26.376-3.8923-14.526h-13.699l5.3173 19.844h2e-4l0.9309 3.4741h27.201c2.4183 0 4.9255 1.9783 5.5735 4.396 0.6477 2.418-0.7999 4.396-3.2176 4.396h-27.201l2.3559 8.7919h30.357c7.2533 0 11.598-5.9346 9.6542-13.188-1.9434-7.2533-9.4688-13.188-16.722-13.188zm49.422 8.7919-3.8926-14.526h26.616l-2.3559-8.7922h-40.315l6.2481 23.318z"/>
                  <path fill="#fff" d="m339.23 134.86h13.699l-2.3559-8.7919h-13.699zm-66.965 0h13.699l-2.3559-8.7919h-47.969l2.3558 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.7051-21.292h-13.699l6.2478 23.318h47.969l-6.2478-23.318h-13.699l5.7047 21.292-12.641-8.792zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.275l-9.4125-14.526zm20.806 32.11 5.663 8.7401 14.221 0.0518 0.7988-8.7919zm-15.761-8.7919-1.3006-4.8544c-3.0393-11.344-6.5746-18.464-18.464-18.464h-20.689l2.3556 8.7919h17.834c2.2799 0 3.1142 1.6484 3.6508 3.6508l2.914 10.876zm-29.494 17.584h34.206l-2.3558-8.7919h-34.206zm144.01-26.376-3.8922-14.526h-13.699l5.3172 19.844h3e-4l0.9309 3.4745h27.201c2.4182 0 4.9254 1.978 5.5734 4.3959 0.6478 2.4177-0.7999 4.396-3.2176 4.396h-27.201l2.3558 8.7919h30.357c7.2536 0 11.598-5.9346 9.6545-13.188-1.9434-7.2535-9.4688-13.188-16.722-13.188zm49.422 8.792-3.8925-14.526h26.616l-2.3558-8.7919h-40.315l6.2481 23.318z"/>
                </g>
              </svg>
            </a>
          
            <input class="header__navigation-toggle-checkbox" type="checkbox" id="show-menu" aria-controls="navigation" aria-expanded="false">
            <label class="header__navigation-toggle" for="show-menu">
              Menu
            </label>
            <nav class="header__navigation"  style="top: 4rem;">
              <a class="relative no-underline  pv2 ph3" href="/o-nas" >O nás</a> 
              <a class="relative no-underline  pv2 ph3" href="/prehled-cinnosti" >Přehled činností</a> 
              <a class="relative no-underline  pv2 ph3" href="/bim" >3D a BIM</a> 
              <a class="relative no-underline  pv2 ph3" href="/reference" >Reference</a> 
              <a class="active relative  no-underline  pv2 ph3" href="/kariera" >Kariéra</a> 
              <a class="relative no-underline pv2 ph3" href="/kontakt" >Kontakt</a> 
              <a class="relative no-underline base-blue-f pv2 ph3"  href="tel:+420 602 27 86 17" >
                <span class="f5 normal ">
                  <svg aria-hidden="true" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-phone fa-w-16" width="18" height="18">
                    <path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z" class=""></path>
                  </svg>
                </span>Zavolat nám</a>
            </nav>
          </div>

          <div class="mt4 mt6-ns ph3 mw8 center tc">
            <h1 class="f2 f1-ns fw8 white mb0 mt0 lh-title">Kvalitní služby vyžadují <br>kvalitní personál</h1>
            <h2 class="fw3 f3 f4 white mt3 mb5 mb5-ns relative z-999">Jdete do toho s námi?</h2>
            <a class="btn reversed base-blue-f f4-ns fw7 fw9-l ph5-ns pv4-l ph3 pv3 dib v-mid z-999 ttu" href="#open-positions">Koho hledáme?</a>
          </div>
        </div>
      </div> 
    </header>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">Stránka nenalezena</h1>
              <p class="govuk-body">
                Pokud jste adresu webové stránku napsali ručně, zkontrolujte, zda je správně.
              </p>
              <p class="govuk-body">
                Pokud jste adresu webové stránky zkopírovali a pak vložili, podívejte se, zda jste zkopírovali celou adresu webové stránky.
              </p>
              <p class="govuk-body">
                Pokud je webová adresa správně, nebo jste klikli na odkaz či tlačítko, <a href="tel:+420 560 40 40 40" class="btn--link">kontaktujte nás na čísle +420 560 40 40 40</a>, nebo <a href="mailto:jampl@jampl.cz" class="btn--link ">emailem na adresu jampl@jampl.cz</a>.
              </p>
          </div>
        </div>
      </main>
    </div>


    <footer role="contentinfo" class="footer-main">
      <div class="footer-main__inner justify-between flex">
        <a href="/" class="footer__logo f7 white-70" title="Přejít na domovskou stránku JAMPL">
          <span class="visually-hidden">Společnost JAMPL</span>
          <svg version="1.1" viewBox="0 0 306.82 58.536" xmlns="http://www.w3.org/2000/svg" width="160" height="28.816" aria-hidden="true">
              <g transform="matrix(1.3333 0 0 -1.3333 -625.94 372.64)"fill-rule="evenodd">
                <path fill="#fff" d="m666.36 277.98h13.699l-2.3558-8.7919h-13.699zm-66.965 0h13.699l-2.3558-8.7919h-47.969l2.3559 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.705-21.292h-13.699l6.2479 23.318h47.969l-6.2479-23.318h-13.699l5.7048 21.292-12.641-8.7919zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.2751l-9.4124-14.526zm20.805 32.11 5.6631 8.74 14.221 0.0519 0.7989-8.7919zm-15.761-8.792-1.3005-4.854c-3.0393-11.344-6.5747-18.464-18.464-18.464h-20.689l2.3555 8.7922h17.834c2.2799 0 3.1141 1.6483 3.6507 3.6505l2.9141 10.876zm-29.494 17.584h34.206l-2.3559-8.7919h-34.206zm144.01-26.376-3.8923-14.526h-13.699l5.3173 19.844h2e-4l0.9309 3.4741h27.201c2.4183 0 4.9255 1.9783 5.5735 4.396 0.6477 2.418-0.7999 4.396-3.2176 4.396h-27.201l2.3559 8.7919h30.357c7.2533 0 11.598-5.9346 9.6542-13.188-1.9434-7.2533-9.4688-13.188-16.722-13.188zm49.422 8.7919-3.8926-14.526h26.616l-2.3559-8.7922h-40.315l6.2481 23.318z"/>
              </g>
          </svg>
        </a>

        <nav class="footer-nav mw7 justify-between flex">
         
          <div class="mb5">
            <h2 class="mt0 mb1 f4 fw7 white">Všechno o nás</h2>
            <ul>
              <li class=""><a class="white-90" href="/o-nas">O nás</a></li>
              <li class=""><a class="white-90" href="/prehled-cinnosti">Přehled činností</a></li>
              <li class=""><a class="white-90" href="/bim">3D a BIM</a></li>
              <li class=""><a class="white-90" href="/reference">Reference a fotodokumentace</a></li>
              <li class=""><a class="white-90" href="/kariera">Pracujte pro nás</a></li>
              <li class=""><a class="white-90" href="/kontakt">Kontakty</a></li>
            </ul>
          </div> 

           <div class="mb5 white">
            <h2 class="mt0 mb1 f4 fw7">Další informace</h2>
            <ul>
              <li class=""><a class="white-90" href="/zasady-pouziti">Zásady použítí</a></li>
              <li class=""><a class="white-90" href="/privacy">Ochrana osobních dat</a></li>
            </ul>
          </div> 
          

          <div class="mb5">
            <h2 class="mt0 mb1 f4 fw7 white">Sociální sítě</h2>
            <ul t>
              <li>
                <a href="https://www.facebook.com/jamplpsv/" class="link dim dib mr3 black-70" title="JAMPL na Facebooku, otevře se v novém okně" target="_blank" rel="noopener" aria-label="Facebook JAMPLu">
                  <svg class="db w2 h2" data-icon="facebook" viewBox="0 0 32 32" fill="#fff">
                  <title >facebook icon</title>
                    <path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z">
                    </path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/jampl-psv-s-r-o/" class="link dim dib black-70" target="_blank" aria-label="LinkedIn JAMPLu" rel="noopener" title="JAMPL na LinkedIn">
                  <svg class="db w2 h2" x="0px" y="0px" viewBox="0 0 48 48" >
                    <linearGradient gradientUnits="userSpaceOnUse" x1="23.9995"
                      y1="0" x2="23.9995" y2="48.0005" >
                      <stop offset="0" ></stop>
                      <stop offset="1" ></stop>
                    </linearGradient>
                    <path fill="#fff" d="M48,42c0,3.313-2.687,6-6,6H6c-3.313,0-6-2.687-6-6V6 c0-3.313,2.687-6,6-6h36c3.313,0,6,2.687,6,6V42z"
                    ></path>
                    <g >
                      <g >
                        <path fill="#264796" d="M15.731,11.633c-1.608,0-2.658,1.083-2.625,2.527c-0.033,1.378,1.018,2.494,2.593,2.494 c1.641,0,2.691-1.116,2.691-2.494C18.357,12.716,17.339,11.633,15.731,11.633z M13.237,35.557h4.988V18.508h-4.988V35.557z M31.712,18.748c-1.595,0-3.222-0.329-4.956,2.36h-0.099l-0.087-2.599h-4.417c0.065,1.411,0.074,3.518,0.074,5.52v11.529h4.988 v-9.854c0-0.46,0.065-0.919,0.196-1.248c0.328-0.919,1.149-1.871,2.527-1.871c1.805,0,2.527,1.411,2.527,3.479v9.494h4.988V25.439 C37.455,20.713,34.993,18.748,31.712,18.748z"
                        ></path>
                      </g>
                    </g>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="footer-main__bottom tr mt3 white">
        <p>1991 — 2018</p>
      </div>
    </footer>  

    <div style="clear: both; display: block;"></div>
  </body>
</html>
