<div class="mw7 mr-auto ml-auto mt6-l mt4" id="jobs-form">
  <h2 class="f2-ns f4 b mb0  lh-title tc white">Nemáte životopis?</h2>
  <h3 class="f3-ns f5 mb3 tc fw3 white">Vyplňte formulář.</h3>

  <%= form_for (job || Job.new), html: { class: "form-order bg-white pt5-ns pt3 pb4 ph6-ns ph3 mt4 ml-auto mr-auto"} do |f| %>
    <div class="form-group">
      <input id="workers-name" name="job[name]" type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
      <label for="workers-name">Vaše jméno a příjmení</label>
    </div>
    <div class="form-group">
      <input id="workers-mail" name="job[mail]" type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
      <label for="workers-mail">Váš e-mail</label>
    </div>
    <div class="form-group">
      <input id="workers-phone" name="job[phone]" type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
      <label for="workers-phone">Váš mobil</label>
    </div>

    <div class="mt4">
      <label class="jampl-label" for="more-detail">
        Napište nám něco o sobě (vaše zkušenosti, kvalifikace, vzdělání)
      </label>
      <textarea class="jampl-textarea" id="more-detail" name="job[detail]" rows="5"></textarea>
    </div>

    <div class="mt4">
      <button type="submit" class="btn   white hover-white base-blue-f f6 fw7 fw9-l ph4 pv3 grow dib v-mid z-999 ttu grow pointer" id="job-form-submit" disabled="true" formnovalidate="">Odeslat</button>
    </div>
    <div class="mt4">
      <ul class="unstyled centered">
        <li>
          <input class="styled-checkbox" id="gdpr-consent" type="checkbox" value="value1">
          <label for="gdpr-consent" class="account-form-container__footer paragraph-blue">Zaškrtnutím souhlasíte s <a class="base-blue-f" href="/zasady-pouziti" target="_blank" title="Stránka zásady užití, otevře se v novém okně">našimi zásadami použití</a> a <a class="base-blue-f" href="/data/Informace-GDPR-Jampl.pdf" target="_blank" title="Stránka s politikou ochrany dat, otevře se v novém okně">politikou ochrany osobních dat</a>.</label>
        </li>
      </ul>
    </div>
  <% end %>
</div>

<%= javascript_tag do %>
  document.getElementById('gdpr-consent').addEventListener('change', function(evt){
    document.getElementById('job-form-submit').disabled = !document.getElementById('gdpr-consent').checked;
  });
<% end %>
