<div class="mw7 mr-auto ml-auto mt6-l mt4" id="order-form">
  <h2 class="f2-ns f4 b mb0  lh-title tc white">Zaujaly vás naše služby?</h2>
  <h3 class="f3-ns f5 mb3 tc fw3 white">Na vaši poptávku obratem zareagujeme.</h3>

  <%= form_for Order.new, html: { class: "form-order bg-white pt5-ns pt3 pb4 ph6-ns ph3 mt4 ml-auto mr-auto"} do |f| %>
    <div class="form-group">
      <input name="order[name]" id="customer-name" type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
      <label for="customer-name">Vaše jméno a příjmení</label>
    </div>
    <div class="form-group">
      <input name="order[mail]" id="customer-mail" type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
      <label for="customer-mail">Váš e-mail</label>
    </div>
    <div class="form-group">
      <input name="order[phone]" id="customer-phone" type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
      <label for="customer-phone">Váš mobil</label>
    </div>

    <div class="mt4">
      <label class="jampl-label" for="order_detail">
        Zajímá vás něco specifického?
      </label>
      <textarea class="jampl-textarea" id="order_detail" name="order[detail]" rows="5"></textarea>
    </div>

    <div class="mt4">
      <button type="submit" class="btn   white hover-white base-blue-f f6 fw7 fw9-l ph4 pv3 grow dib v-mid z-999 ttu grow pointer" disabled="true" id="order-form-submit" formnovalidate="">Odeslat</button>

      <p class="f5 mt4">
        <a href="/prehled-cinnosti#pricing" class="btn--link  size--large style--wide mode--icon-right">Zobrazit ceník
          <span class="f5 normal ml12">
            <svg aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-right fa-w-14" width="18" height="18"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z" class=""></path>
            </svg>
          </span>
        </a>
      </p>
    </div>
     <div>
      <ul class="unstyled centered">
        <li>
          <input class="styled-checkbox" id="gdpr-consent" type="checkbox" value="value1">
          <label for="gdpr-consent" class="account-form-container__footer paragraph-blue">Zaškrtnutím souhlasíte s <a class="base-blue-f" href="/zasady-pouziti" target="_blank" title="Stránka zásady užití, otevře se v novém okně">našimi zásadami použití</a> a <a class="base-blue-f" href="/data/Informace-GDPR-Jampl.pdf" target="_blank" title="Stránka s politikou ochrany dat, otevře se v novém okně">politikou ochrany osobních dat</a>.</label>
        </li>
      </ul>
  <% end %>
</div>
<%= javascript_tag do %>
  document.getElementById('gdpr-consent').addEventListener('change', function(evt){
    document.getElementById('order-form-submit').disabled = !document.getElementById('gdpr-consent').checked;
  });
<% end %>
