
<a href="#main" class="sr-only sr-only-focusable">Přeskočit na hlavní obsah stránky.</a>
<div class="dn dt-l dt--fixed-l white pv3 mw8 mr-auto ml-auto">
  <div class="dtc-ns tl pl3">
    <a href="https://mapy.cz/?q=50.3838625N%2C+13.2693786E" class="btn btn mode--link mode--link--muted">
      <span class="f5 normal">
        <svg aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x" width="18" height="18">
          <path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path>
        </svg>
      </span>
      Na Podlesí 1638, Kadaň</a>
  </div>
  <div class="dtc-ns tc">
    <a href="tel:+420 560 40 40 40" class="btn mode--link mode--link--muted">
      <span class="f5 normal">
        <svg aria-hidden="true" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-phone fa-w-16" width="18" height="18">
          <path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z" class=""></path>
        </svg>
      </span>
      +420 560 40 40 40</a>
  </div>
  <div class="dtc-ns tr pr3">
    <a href="mailto:jampl@jampl.cz" class="btn mode--link mode--link--muted">
      <span class="f5 normal">
        <svg aria-hidden="true" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-envelope fa-w-16" width="18" height="18">
          <path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z" class=""></path>
        </svg>
      </span>jampl@jampl.cz</a>
  </div>
</div>

<header role="banner">
  <div class="black">
    <div class="pb5">
      <nav class="dn dt-m dt-l w-100 mw8 pv3 center"> 
        <div class="dtc v-mid pa3 jampl-logo">
        <a href="/" class="dib pa1 b--white-90 grow border-box">
          <span class="sr-only">Společnost JAMPL</span>
          <svg version="1.1" viewBox="0 0 306.82 58.536" xmlns="http://www.w3.org/2000/svg" width="160" height="28.816" aria-hidden="true">
            <g transform="matrix(1.3333 0 0 -1.3333 -625.94 372.64)" fill="#fefefe" fill-rule="evenodd">
              <path fill="#264796" d="m666.36 277.98h13.699l-2.3558-8.7919h-13.699zm-66.965 0h13.699l-2.3558-8.7919h-47.969l2.3559 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.705-21.292h-13.699l6.2479 23.318h47.969l-6.2479-23.318h-13.699l5.7048 21.292-12.641-8.7919zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.2751l-9.4124-14.526zm20.805 32.11 5.6631 8.74 14.221 0.0519 0.7989-8.7919zm-15.761-8.792-1.3005-4.854c-3.0393-11.344-6.5747-18.464-18.464-18.464h-20.689l2.3555 8.7922h17.834c2.2799 0 3.1141 1.6483 3.6507 3.6505l2.9141 10.876zm-29.494 17.584h34.206l-2.3559-8.7919h-34.206zm144.01-26.376-3.8923-14.526h-13.699l5.3173 19.844h2e-4l0.9309 3.4741h27.201c2.4183 0 4.9255 1.9783 5.5735 4.396 0.6477 2.418-0.7999 4.396-3.2176 4.396h-27.201l2.3559 8.7919h30.357c7.2533 0 11.598-5.9346 9.6542-13.188-1.9434-7.2533-9.4688-13.188-16.722-13.188zm49.422 8.7919-3.8926-14.526h26.616l-2.3559-8.7922h-40.315l6.2481 23.318z"/>
            </g>
          </svg>
        </a>
      </div>
      <div class="nav-items nav-items--dark dtc v-mid tr pa3 fw7">
        <a class="base-blue-f relative no-underline dn dib-ns pv2 ph3" href="/welcome/about" >O nás</a> 
        <a class="base-blue-f relative no-underline dn dib-ns pv2 ph3" href="/welcome/facility" >Přehled činností</a> 
        <a class="base-blue-f relative no-underline dn dib-l pv2 ph3" href="/welcome/bim" >BIM řešení</a> 
        <a class="base-blue-f relative no-underline dn dib-l pv2 ph3" href="/welcome/customers" >Zákazníci</a> 
        <a class="base-blue-f relative no-underline dn dib-l pv2 ph3" href="/welcome/jobs" >Kariéra</a> 
        <a class="base-blue-f active relative no-underline dn dib-l pv2 ph3" href="/welcome/contacts" >Kontakt</a> 
      </div>
      </nav> 

      <div class="flex navigation__mobile ph2 dn-l">
        <a class="logo touch" href="/">
          <svg version="1.1" viewBox="0 0 306.82 58.536" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="lookback-mark">
            <g transform="matrix(1.3333 0 0 -1.3333 -625.94 372.64)" fill="#fefefe" fill-rule="evenodd">
              <path fill="#fff" d="m666.36 277.98h13.699l-2.3558-8.7919h-13.699zm-66.965 0h13.699l-2.3558-8.7919h-47.969l2.3559 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.705-21.292h-13.699l6.2479 23.318h47.969l-6.2479-23.318h-13.699l5.7048 21.292-12.641-8.7919zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.2751l-9.4124-14.526zm20.805 32.11 5.6631 8.74 14.221 0.0519 0.7989-8.7919zm-15.761-8.792-1.3005-4.854c-3.0393-11.344-6.5747-18.464-18.464-18.464h-20.689l2.3555 8.7922h17.834c2.2799 0 3.1141 1.6483 3.6507 3.6505l2.9141 10.876zm-29.494 17.584h34.206l-2.3559-8.7919h-34.206zm144.01-26.376-3.8923-14.526h-13.699l5.3173 19.844h2e-4l0.9309 3.4741h27.201c2.4183 0 4.9255 1.9783 5.5735 4.396 0.6477 2.418-0.7999 4.396-3.2176 4.396h-27.201l2.3559 8.7919h30.357c7.2533 0 11.598-5.9346 9.6542-13.188-1.9434-7.2533-9.4688-13.188-16.722-13.188zm49.422 8.7919-3.8926-14.526h26.616l-2.3559-8.7922h-40.315l6.2481 23.318z"/>
              <path fill="#fff" d="m339.23 134.86h13.699l-2.3559-8.7919h-13.699zm-66.965 0h13.699l-2.3559-8.7919h-47.969l2.3558 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.7051-21.292h-13.699l6.2478 23.318h47.969l-6.2478-23.318h-13.699l5.7047 21.292-12.641-8.792zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.275l-9.4125-14.526zm20.806 32.11 5.663 8.7401 14.221 0.0518 0.7988-8.7919zm-15.761-8.7919-1.3006-4.8544c-3.0393-11.344-6.5746-18.464-18.464-18.464h-20.689l2.3556 8.7919h17.834c2.2799 0 3.1142 1.6484 3.6508 3.6508l2.914 10.876zm-29.494 17.584h34.206l-2.3558-8.7919h-34.206zm144.01-26.376-3.8922-14.526h-13.699l5.3172 19.844h3e-4l0.9309 3.4745h27.201c2.4182 0 4.9254 1.978 5.5734 4.3959 0.6478 2.4177-0.7999 4.396-3.2176 4.396h-27.201l2.3558 8.7919h30.357c7.2536 0 11.598-5.9346 9.6545-13.188-1.9434-7.2535-9.4688-13.188-16.722-13.188zm49.422 8.792-3.8925-14.526h26.616l-2.3558-8.7919h-40.315l6.2481 23.318z"/>
              <path fill="#fff" d="m14.173 581.1h813.54v-566.93h-813.54zm-14.173 14.173h841.89v-595.28h-841.89z"/>
            </g>
          </svg>
        </a>
      
        <ul class="navigation__mobile-group">
          <li>
            <button class="navigation__mobile__trigger touch" data-toggle-nav="">Menu <span class="nav-symbol"></span></button>
          </li>
        </ul>
      </div>
    </div>
  </div> 
</header>

<main role="main" class="page-about">
  <header class="page-about__header tc" id="main">
    <h1 class="f1 mb0 b mt0">Pomahame vam necono.</h1>
    <h2 class="f3 o-50">Jsme presvedceni ze balbla.</h2>
  </header>

  <section class="mv5 w-60 mw-90 center">
    <h2 class="tc fw9 o-90 ttu tracked center f5 mb5 measure">
    Pracoviště Kadaň
    </h2>

    <ul class="team-members-list tl" data-member-list="">
      <li>
        <h3 class="member__name f4">Martin Plastiak</h3>
        <p class="member__specialization">Jednatel</p>
        <p class="member__specialization">Telefon: 
          <a href="tel:+420 602 48 80 51" class="btn mode--link mode--link--muted">602 48 80 51</a></p>
        <p class="member__specialization">E-mail:
          <a href="mailto:martin.plastiak@jampl.cz" class="btn mode--link mode--link--muted">martin.plastiak@jampl.cz</a></p>
      </li>
    

      <li>
        <h3 class="member__name f4">Pavlína Nováková</h3>
        <p class="member__specialization">Ekonom, fakturace</p>
        <p class="member__specialization">Telefon: 
          <a href="tel:+420 607 23 17 88" class="btn mode--link mode--link--muted">607 23 17 88</a></p>
        <p class="member__specialization">E-mail:
          <a href="mailto:ekonom@jampl.cz" class="btn mode--link mode--link--muted">ekonom@jampl.cz</a></p>
        <p class="member__specialization">E-mail pro zasílání faktur:
          <a href="mailto:fakturace@jampl.cz" class="btn mode--link mode--link--muted">fakturace@jampl.cz</a></p>
      </li>

      
    </ul>
  </section>

  <section class="mv5 w-60 mw-90 center">
    <h2 class="tc fw9 o-90 ttu tracked center f5 mb5 measure">
    Pracoviště Prunéřov
    </h2>

    <ul class="team-members-list tl" data-member-list="">
       <li>
        <h3 class="member__name f4">Jana Hanzlová</h3>
        <p class="member__specialization">Obchod a příprava práce</p>
        <p class="member__specialization">Telefon: 
          <a href="tel:+420 602 27 86 17" class="btn mode--link mode--link--muted">602 27 86 17</a></p>
        <p class="member__specialization">E-mail:
          <a href="mailto:priprava@jampl.cz" class="btn mode--link mode--link--muted">priprava@jampl.cz</a></p>
      </li>

      <li>
        <h3 class="member__name f4">Olga Malečková</h3>
        <p class="member__specialization">Nákupčí a sklad</p>
        <p class="member__specialization">Telefon: 
          <a href="tel:+420 602 45 24 63" class="btn mode--link mode--link--muted">602 45 24 63</a></p>
        <p class="member__specialization">E-mail:
          <a href="mailto:mtz@jampl.cz" class="btn mode--link mode--link--muted">mtz@jampl.cz</a></p>
      </li>
    

      <li>
        <h3 class="member__name f4">Ladislav Těšínský</h3>
        <p class="member__specialization">Dílny, služby</p>
        <p class="member__specialization">Telefon: 
          <a href="tel:+420 607 23 18 67" class="btn mode--link mode--link--muted">607 23 18 67</a></p>
        <p class="member__specialization">E-mail:
          <a href="mailto:dilny@jampl.cz" class="btn mode--link mode--link--muted">dilny@jampl.cz</a></p>
      </li>

      <li>
        <h3 class="member__name f4">Lukáš Staník</h3>
        <p class="member__specialization">BIM specialista</p>
        <p class="member__specialization">Telefon: 
          <a href="tel:+420 602 24 65 86" class="btn mode--link mode--link--muted">602 24 65 86</a></p>
        <p class="member__specialization">E-mail:
          <a href="mailto:bim@jampl.cz" class="btn mode--link mode--link--muted">bim@jampl.cz</a></p>
      </li>

      <li>
        <h3 class="member__name f4">Kateřina Borecká</h3>
        <p class="member__specialization">Autodoprava technické služby</p>
        <p class="member__specialization">Telefon: 
          <a href="tel:+420 602 24 04 53" class="btn mode--link mode--link--muted">602 24 04 53</a></p>
        <p class="member__specialization">E-mail:
          <a href="mailto:doprava@jampl.cz" class="btn mode--link mode--link--muted">doprava@jampl.cz</a></p>
      </li> 

      <li>
        <h3 class="member__name f4">David Jungmann</h3>
        <p class="member__specialization">Stavby</p>
        <p class="member__specialization">Telefon: 
          <a href="tel:+420 607 23 17 87" class="btn mode--link mode--link--muted">607 23 17 87</a></p>
        <p class="member__specialization">E-mail:
          <a href="mailto:stavby@jampl.cz" class="btn mode--link mode--link--muted">stavby@jampl.cz</a></p>
      </li> 
    </ul>
  </section>

  <section class="pb6-ns pb3 bt b--light-gray  footer--dark" style="max-height: 550px;">
    <div class="mw7 mr-auto ml-auto mt6-l mt4" id="order-form">
      <h2 class="f2-ns f4 b mb0  lh-title tc white">Zaujaly vás naše služby?</h2>
      <h3 class="f3-ns f5 mb3 tc fw3 white">PREPSAT--Dame vam vedet do 15 minut. Jsme tu pro vas.</h3>

      <form class="form-order bg-white pt5-ns pt3 pb4 ph6-ns ph3 mt4 ml-auto mr-auto">
        <div class="group">
          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
          <label>Vaše jméno a příjmení</label>
        </div>
        <div class="group">
          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
          <label>Váš e-mail</label>
        </div>
        <div class="group">
          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
          <label>Váš mobil</label>
        </div>

        <div class="mt5">
          <details class="form-order-details" role="group">
            <summary class="form-order-details__summary" role="button">
              <span class="form-order-details__summary-text pointer mid-gray">
                Vyberte typ sluzby
              </span>
            </summary>

            <fieldset class="form-order-details__services bn" aria-describedby="vyber-sluzby">
              <div class="flex items-center mv2">
                <input class="mr2" type="checkbox" id="spacejam" value="spacejam">
                <label for="spacejam" class="lh-copy">Vymalovat</label>
              </div>
              <div class="flex items-center mv2">
                <input class="mr2" type="checkbox" id="airbud" value="airbud">
                <label for="airbud" class="lh-copy">Zvedat telefony</label>
              </div>
              <div class="flex items-center mv2">
                <input class="mr2" type="checkbox" id="hocuspocus" value="hocuspocus">
                <label for="hocuspocus" class="lh-copy">Postavit vec</label>
              </div>
            </fieldset>

          </details>
        </div>

        <div class="mt4">
          <button type="submit" class="btn mode--subtle style--square white hover-white base-blue-f f6 fw7 fw9-l ph4 pv3 grow dib v-mid z-999 ttu grow pointer" disabled="true" formnovalidate="">Odeslat</button>

          <p class="f5 mt4">
            <a href="#" class="btn mode--link mode--link--muted size--large style--wide mode--icon-right">Zobrazit ceník
              <span class="f5 normal ml12">
                <svg aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-right fa-w-14" width="18" height="18"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z" class=""></path>
                </svg>
              </span> 
            </a>
          </p> 
        </div>
        <div class="account-form-container__footer mt3">
          <p class="paragraph-blue f6">
            Kliknutim na "Odeslat" souhasitte s <a class="base-blue-f" href="#" target="_blank" title="nece neco otevre se v novem okne">terms of sue</a> a ze ste cet nase <a class="base-blue-f" href="#" target="_blank" title="nece neco otevre se v novem okne">privacy policy</a>.
          </p>
        </div>
      </form>        
    </div>
  </section>
</main>

<footer role="contentinfo" class="footer-main footer-main--landing bg-white">
  <div class="footer__inner justify-between flex">
    <a href="/" class="footer__logo f7 white-70" title="Přejít na domovskou stránku JAMPL">
      <span class="sr-only">Společnost JAMPL</span>
      <svg version="1.1" viewBox="0 0 306.82 58.536" xmlns="http://www.w3.org/2000/svg" width="160" height="28.816" aria-hidden="true">
          <g transform="matrix(1.3333 0 0 -1.3333 -625.94 372.64)"fill-rule="evenodd">
            <path fill="#264796" d="m666.36 277.98h13.699l-2.3558-8.7919h-13.699zm-66.965 0h13.699l-2.3558-8.7919h-47.969l2.3559 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.705-21.292h-13.699l6.2479 23.318h47.969l-6.2479-23.318h-13.699l5.7048 21.292-12.641-8.7919zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.2751l-9.4124-14.526zm20.805 32.11 5.6631 8.74 14.221 0.0519 0.7989-8.7919zm-15.761-8.792-1.3005-4.854c-3.0393-11.344-6.5747-18.464-18.464-18.464h-20.689l2.3555 8.7922h17.834c2.2799 0 3.1141 1.6483 3.6507 3.6505l2.9141 10.876zm-29.494 17.584h34.206l-2.3559-8.7919h-34.206zm144.01-26.376-3.8923-14.526h-13.699l5.3173 19.844h2e-4l0.9309 3.4741h27.201c2.4183 0 4.9255 1.9783 5.5735 4.396 0.6477 2.418-0.7999 4.396-3.2176 4.396h-27.201l2.3559 8.7919h30.357c7.2533 0 11.598-5.9346 9.6542-13.188-1.9434-7.2533-9.4688-13.188-16.722-13.188zm49.422 8.7919-3.8926-14.526h26.616l-2.3559-8.7922h-40.315l6.2481 23.318z"/>
          </g>
        </svg>
    </a>

    <nav class="footer-nav mw7 justify-between flex">
      <div class="footer-nav__group">
        <h2 class="mt0 mb1 f4 fw7">NECO</h2>
        <ul>
          <li class=""><a href="/about">Site map</a></li>
        </ul>
      </div>

      <div class="footer-nav__group">
        <h2 class="mt0 mb1 f4 fw7">Vsechno o nas</h2>
        <ul>
          <li class=""><a href="/about">O nas a kontakty</a></li>
          <li class=""><a href="/customers">Zakaznici a fotodokumentace</a></li>
          <li class=""><a href="/jobs">Pracujte pro nas</a></li>
        </ul>

        <h3 class="mt0-l mt3 mb1 f5 fw7">Legal shits</h3>
        <ul>
          <li class=""><a href="/terms">Terms of use</a></li>
          <li class=""><a href="/privacy">Privacy policy</a></li>
          <li class=""><a href="/cookies">Cookies</a></li>
        </ul>
      </div> 
      

      <div class="footer-nav__group">
        <h2 class="mt0 mb1 f4 fw7">Social</h2>
        <ul t>
          <li>
            <a href="https://www.facebook.com/" class="link dim dib mr3 black-70" title="Impossible Labs on Facebook">
              <svg class="db w2 h2" data-icon="facebook" viewBox="0 0 32 32" fill="#264796">
              <title >facebook icon</title>
                <path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z">
                </path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/" class="link dim dib mr3 black-70">
              <svg class="db w2 h2" data-icon="twitter" viewBox="0 0 32 32"
                fill="#264796" >
                <title >twitter icon</title>
                <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"
                ></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/" class="link dim dib black-70">
              <svg class="db w2 h2" x="0px" y="0px" viewBox="0 0 48 48" >
                <linearGradient gradientUnits="userSpaceOnUse" x1="23.9995"
                  y1="0" x2="23.9995" y2="48.0005" >
                  <stop offset="0" ></stop>
                  <stop offset="1" ></stop>
                </linearGradient>
                <path fill="#264796" d="M48,42c0,3.313-2.687,6-6,6H6c-3.313,0-6-2.687-6-6V6 c0-3.313,2.687-6,6-6h36c3.313,0,6,2.687,6,6V42z"
                ></path>
                <g >
                  <g >
                    <path fill="#fff" d="M15.731,11.633c-1.608,0-2.658,1.083-2.625,2.527c-0.033,1.378,1.018,2.494,2.593,2.494 c1.641,0,2.691-1.116,2.691-2.494C18.357,12.716,17.339,11.633,15.731,11.633z M13.237,35.557h4.988V18.508h-4.988V35.557z M31.712,18.748c-1.595,0-3.222-0.329-4.956,2.36h-0.099l-0.087-2.599h-4.417c0.065,1.411,0.074,3.518,0.074,5.52v11.529h4.988 v-9.854c0-0.46,0.065-0.919,0.196-1.248c0.328-0.919,1.149-1.871,2.527-1.871c1.805,0,2.527,1.411,2.527,3.479v9.494h4.988V25.439 C37.455,20.713,34.993,18.748,31.712,18.748z"
                    ></path>
                  </g>
                </g>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="footer__bottom tr mt3 base-blue-f">
    <p>1991 — 2018</p>
  </div>
</footer>
