<body class="js-enabled">
	<a href="#main" class="skip-link sr-only">Přeskočit na hlavní obsah stránky.</a>
  <div class="global-contacts" style="display: block;">
    <p>lorem misto</p>
  </div>

  <nav class="navbar navbar-expand-lg">
	  <a class="navbar-brand" href="#">JAMPL</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Domů <span class="sr-only">(nyní otevřená)</span></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="#">O nás</a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="#">Služby</a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="#">Kariéra</a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="#">Kontakt</a>
	      </li>
	    </ul>	   
	  </div>
	</nav>

  <main role="main" id="main">
    <div class="masthead">		  
		  <div class="hero">
	      <div class="hero__content">
	        <div class="hero__body">
	          <h1 class="hero__title">Přenechte nám své starosti.</h1>
	          <p class="hero__description">
	            Rodinná firma specializovaná na facility management a BIM.
	          </p>
	          <a href="/order" role="button" class="hero-button" data-click-events="" data-click-category="Hero" data-click-action="Button clicked">Nezavazne objednat
	          </a>
	      	</div>

	      <div class="hero__aside-image">
          <img src="..." alt="25 let na trhu." role="presentation">
	      </div>
     	 </div>
  		</div>
		</div>

		<div class="container">
			<div class="grid-row content-section">
		    <div class="column-one-half">
		      <h2 class="content-section__title heading-medium">Váš leader pro facility management</h2>		          
	          <p>Lorem</p>

	          <p><a href="/features" data-click-events="" data-click-category="Content" data-click-action="Internal link clicked">Zjistit vice o spolecnosti</a></p>
		      </div>

			      <div class="column-one-half">
			        <div class="content-section__image">
			          <img src="..." alt="Logo certifikace ISO." role="presentation">
			        </div>
			      </div>
			  </div>

		  <div class="content-section">
		    <div class="grid-row">
		      <div class="column-full">
		        <h2 class="content-section__title heading-medium">Soustřeďte se na core business. Zbytek je na nás.</h2>
		        <div class="cf">
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
  </main>

  <footer class="group js-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">
      <div class="footer-categories">
        <div class="footer-categories-wrapper">
          <div class="row">
      		</div>
   			</div>
   		</div>
   	</div>
  </footer>
</body>