<% content_for :title, "JAMPL – Kariéra" %>

<a href="#main" class="visually-hidden visually-hidden-focusable">Přeskočit na hlavní obsah stránky.</a>
<div class="dn dt-l dt--fixed-l white pv3 pa3 mw8 mr-auto ml-auto">
  <div class="dtc-ns tl pl3">
    <a href="https://mapy.cz/?q=50.3838625N%2C+13.2693786E" class="btn--link ">
      <span class="f5 normal">
        <svg aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x" width="18" height="18">
          <path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path>
        </svg>
      </span>
      Na Podlesí 1638, Kadaň</a>
  </div>
  <div class="dtc-ns tc">
    <a href="tel:+420 602 278 617" class="btn--link ">
      <span class="f5 normal">
        <svg aria-hidden="true" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-phone fa-w-16" width="18" height="18">
          <path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z" class=""></path>
        </svg>
      </span>
      +420 602 278 617</a>
  </div>
  <div class="dtc-ns tr pr3">
    <a href="mailto:jampl@jampl.cz" class="btn--link ">
      <span class="f5 normal">
        <svg aria-hidden="true" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-envelope fa-w-16" width="18" height="18">
          <path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z" class=""></path>
        </svg>
      </span>jampl@jampl.cz</a>
  </div>
</div>

<header role="banner">
  <div class="cover bg-left bg-center-l h-50 h-inherit-l jobs__header  mb5 pa3">
    <div class="pb5">
      <nav class="navbar dn dt-m dt-l w-100 mw8 pv3 center">
        <div class="dtc v-mid pa3 jampl-logo">
          <a href="/" class="dib pa1 b--white-90 grow border-box">
            <span class="visually-hidden">Společnost JAMPL</span>
            <svg version="1.1" viewBox="0 0 306.82 58.536" xmlns="http://www.w3.org/2000/svg" width="160" height="28.816" aria-hidden="true">
              <g transform="matrix(1.3333 0 0 -1.3333 -625.94 372.64)" fill="#fefefe" fill-rule="evenodd">
                <path fill="#fff" d="m666.36 277.98h13.699l-2.3558-8.7919h-13.699zm-66.965 0h13.699l-2.3558-8.7919h-47.969l2.3559 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.705-21.292h-13.699l6.2479 23.318h47.969l-6.2479-23.318h-13.699l5.7048 21.292-12.641-8.7919zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.2751l-9.4124-14.526zm20.805 32.11 5.6631 8.74 14.221 0.0519 0.7989-8.7919zm-15.761-8.792-1.3005-4.854c-3.0393-11.344-6.5747-18.464-18.464-18.464h-20.689l2.3555 8.7922h17.834c2.2799 0 3.1141 1.6483 3.6507 3.6505l2.9141 10.876zm-29.494 17.584h34.206l-2.3559-8.7919h-34.206zm144.01-26.376-3.8923-14.526h-13.699l5.3173 19.844h2e-4l0.9309 3.4741h27.201c2.4183 0 4.9255 1.9783 5.5735 4.396 0.6477 2.418-0.7999 4.396-3.2176 4.396h-27.201l2.3559 8.7919h30.357c7.2533 0 11.598-5.9346 9.6542-13.188-1.9434-7.2533-9.4688-13.188-16.722-13.188zm49.422 8.7919-3.8926-14.526h26.616l-2.3559-8.7922h-40.315l6.2481 23.318z"/>
              </g>
            </svg>
          </a>
        </div>
        <div class="nav-items dtc v-mid tr pa3 fw7">
          <a class="relative hover-white no-underline white dn dib-ns pv2 ph3" href="/o-nas" >O nás</a>
          <a class="relative hover-white no-underline white dn dib-ns pv2 ph3" href="/prehled-cinnosti" >Přehled činností</a>
          <a class="relative hover-white no-underline white dn dib-l pv2 ph3" href="/bim" >3D a BIM</a>
          <a class="relative hover-white no-underline white dn dib-l pv2 ph3" href="/reference" >Reference</a>
          <a class="active relative hover-white  dn dib-l pv2 ph3" href="/kariera" style="text-decoration: none; color: #fff" >Kariéra</a>
          <a class="relative hover-white no-underline white dn dib-l pv2 ph3" href="/kontakt" >Kontakt</a>
        </div>
      </nav>

      <div class="flex nav-mobile ph2 dn-l">

        <a href="/">
          <svg version="1.1" viewBox="0 0 306.82 58.536" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="jampl-logo--mobile">
            <g transform="matrix(1.3333 0 0 -1.3333 -625.94 372.64)" fill="#fefefe" fill-rule="evenodd">
              <path fill="#fff" d="m666.36 277.98h13.699l-2.3558-8.7919h-13.699zm-66.965 0h13.699l-2.3558-8.7919h-47.969l2.3559 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.705-21.292h-13.699l6.2479 23.318h47.969l-6.2479-23.318h-13.699l5.7048 21.292-12.641-8.7919zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.2751l-9.4124-14.526zm20.805 32.11 5.6631 8.74 14.221 0.0519 0.7989-8.7919zm-15.761-8.792-1.3005-4.854c-3.0393-11.344-6.5747-18.464-18.464-18.464h-20.689l2.3555 8.7922h17.834c2.2799 0 3.1141 1.6483 3.6507 3.6505l2.9141 10.876zm-29.494 17.584h34.206l-2.3559-8.7919h-34.206zm144.01-26.376-3.8923-14.526h-13.699l5.3173 19.844h2e-4l0.9309 3.4741h27.201c2.4183 0 4.9255 1.9783 5.5735 4.396 0.6477 2.418-0.7999 4.396-3.2176 4.396h-27.201l2.3559 8.7919h30.357c7.2533 0 11.598-5.9346 9.6542-13.188-1.9434-7.2533-9.4688-13.188-16.722-13.188zm49.422 8.7919-3.8926-14.526h26.616l-2.3559-8.7922h-40.315l6.2481 23.318z"/>
              <path fill="#fff" d="m339.23 134.86h13.699l-2.3559-8.7919h-13.699zm-66.965 0h13.699l-2.3559-8.7919h-47.969l2.3558 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.7051-21.292h-13.699l6.2478 23.318h47.969l-6.2478-23.318h-13.699l5.7047 21.292-12.641-8.792zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.275l-9.4125-14.526zm20.806 32.11 5.663 8.7401 14.221 0.0518 0.7988-8.7919zm-15.761-8.7919-1.3006-4.8544c-3.0393-11.344-6.5746-18.464-18.464-18.464h-20.689l2.3556 8.7919h17.834c2.2799 0 3.1142 1.6484 3.6508 3.6508l2.914 10.876zm-29.494 17.584h34.206l-2.3558-8.7919h-34.206zm144.01-26.376-3.8922-14.526h-13.699l5.3172 19.844h3e-4l0.9309 3.4745h27.201c2.4182 0 4.9254 1.978 5.5734 4.3959 0.6478 2.4177-0.7999 4.396-3.2176 4.396h-27.201l2.3558 8.7919h30.357c7.2536 0 11.598-5.9346 9.6545-13.188-1.9434-7.2535-9.4688-13.188-16.722-13.188zm49.422 8.792-3.8925-14.526h26.616l-2.3558-8.7919h-40.315l6.2481 23.318z"/>
            </g>
          </svg>
        </a>

        <input class="header__navigation-toggle-checkbox" type="checkbox" id="show-menu" aria-controls="navigation" aria-expanded="false">
        <label class="header__navigation-toggle" for="show-menu">
          Menu
        </label>
        <nav class="header__navigation" style="top: 3.2rem;">
          <a class="relative no-underline  pv2 ph3" href="/o-nas" >O nás</a>
          <a class="relative no-underline  pv2 ph3" href="/prehled-cinnosti" >Přehled činností</a>
          <a class="relative no-underline  pv2 ph3" href="/bim" >3D a BIM</a>
          <a class="relative no-underline  pv2 ph3" href="/reference" >Reference</a>
          <a class="active relative  no-underline  pv2 ph3" href="/kariera" >Kariéra</a>
          <a class="relative no-underline pv2 ph3" href="/kontakt" >Kontakt</a>
          <a class="relative no-underline base-blue-f pv2 ph3"  href="tel:+420 602 27 86 17" >
            <span class="f5 normal ">
              <svg aria-hidden="true" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-phone fa-w-16" width="18" height="18">
                <path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z" class=""></path>
              </svg>
            </span>Zavolat nám</a>
        </nav>
      </div>

      <div class="mt4 mt6-ns ph3 mw8 center tc">
        <h1 class="f2 f1-ns fw8 white mb0 mt0 lh-title">Chceme dělat svoji práci dobře</h1>
        <h2 class="fw3 f3 f4 white mt3 mb5 mb5-ns relative z-999">Jdete do toho s námi?</h2>
        <a class="btn reversed base-blue-f f4-ns fw7 fw9-l ph5-ns pv4-l ph3 pv3 dib v-mid z-999 ttu" href="#open-positions">Koho hledáme?</a>
      </div>
    </div>
  </div>
  <div class="navbar-hide nav-down dn">
    <div class="nav-items dtc v-mid tr pa3 fw7">
      <a class="relative hover-white no-underline white dn dib-ns pv2 ph3" href="/o-nas" >O nás</a>
      <a class="relative hover-white no-underline white dn dib-ns pv2 ph3" href="/prehled-cinnosti" >Přehled činností</a>
      <a class="relative hover-white no-underline white dn dib-l pv2 ph3" href="/bim" >3D a BIM</a>
      <a class="relative hover-white no-underline white dn dib-l pv2 ph3" href="/reference" >Reference</a>
      <a class="active relative hover-white no-underline white dn dib-l pv2 ph3" href="/kariera" >Kariéra</a>
      <a class="relative hover-white no-underline white dn dib-l pv2 ph3" href="/kontakt" >Kontakt</a>
    </div>
  </div>
</header>

<main role="main" class="jobs-container mb5">

  <section class="pt3 mt5 mb5" id="main">
    <ul class="hover-block tc">
      <li class="hover-block__item ph3 pb0 pt5">
        <span class="f5 normal white ">
          <svg aria-hidden="true" data-prefix="fas" data-icon="ticket-alt" role="img" width="3em"" height="3em"" version="1.1" viewBox="0 0 47.311 47.19" xmlns="http://www.w3.org/2000/svg">
           <g transform="translate(-126.78 -50.399)">
            <g transform="matrix(.60115 0 0 .60115 120.35 43.967)" fill="#fff">
             <g fill="#264796">
              <path d="m74 55.5c-0.8-0.8-0.8-2 0-2.8s2-0.8 2.8 0l1.1 1.1 11.5-11.5-8-8c-4.4 3.3-10.6 3-14.6-1-2.1-2.1-3.3-4.9-3.3-7.9 0-2.5 0.8-4.8 2.3-6.7l-8-8-11.5 11.4 1.1 1.1c0.8 0.8 0.8 2 0 2.8-0.4 0.4-0.9 0.6-1.4 0.6s-1-0.2-1.4-0.6l-1.2-1-32.7 32.7 8 8c4.4-3 10.4-2.6 14.3 1.3s4.3 9.9 1.3 14.2l8 8 32.7-32.6zm-15.3-18.1c-0.4 0.4-0.9 0.6-1.4 0.6s-1-0.2-1.4-0.6l-4.7-4.7c-0.8-0.8-0.8-2 0-2.8s2-0.8 2.8 0l4.7 4.7c0.8 0.8 0.8 2 0 2.8zm11.4 11.4c-0.4 0.4-0.9 0.6-1.4 0.6s-1-0.2-1.4-0.6l-4.7-4.7c-0.8-0.8-0.8-2 0-2.8s2-0.8 2.8 0l4.7 4.7c0.8 0.8 0.8 2 0 2.8z" fill="#264796"/>
             </g>
            </g>
           </g>
          </svg>
        </span>
        <h3 class="b f4 mb0">Péče o zaměstnance</h3>

        <p class="paragraph-blue f5">Stravenky, čisté zázemí, příspěvek na pojištění</p>
      </li>

      <li class="hover-block__item ph3 pb0 pt5">
        <span class="f5 normal white "><svg aria-hidden="true" data-prefix="fas" data-icon="ticket-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-ticket-alt fa-w-18" width="3em" height="3em"><path fill="#264796" d="M128 160h320v192H128V160zm400 96c0 26.51 21.49 48 48 48v96c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48v-96c26.51 0 48-21.49 48-48s-21.49-48-48-48v-96c0-26.51 21.49-48 48-48h480c26.51 0 48 21.49 48 48v96c-26.51 0-48 21.49-48 48zm-48-104c0-13.255-10.745-24-24-24H120c-13.255 0-24 10.745-24 24v208c0 13.255 10.745 24 24 24h336c13.255 0 24-10.745 24-24V152z" class=""></path></svg></span>
        <h3 class="b f4 mb0">Finanční ohodnocení</h3>

        <p class="paragraph-blue f5">Vysoké příplatky za kvalitu a rychlost</p>
      </li>

      <li class="hover-block__item ph3 pb0 pt5">
        <span class="f5 normal white ">
          <svg aria-hidden="true" data-prefix="fas" data-icon="ticket-alt" role="img" width="3em" height="3em" version="1.1" viewBox="0 0 23.639 27.752" xmlns="http://www.w3.org/2000/svg">
             <g transform="translate(-137.72 -62.539)">
              <g transform="matrix(.17881 0 0 .17881 181.56 29.012)" fill="#264796">
               <polygon points="-172.4 267.7 -171.2 267.9 -172.4 268.3" fill="#264796"/>
               <path d="m-185.5 267.9s-0.2 0 0 0c-0.2-0.2 0 0 0 0z" fill="#264796"/>
               <path d="m-179 287.2c-1.3 0-2.2-0.8-2.2-2.1v-56.5c0-1.2 0.9-2.1 2.2-2.1s2.2 0.8 2.2 2.1v56.5c0 1.1-0.9 2.1-2.2 2.1z" fill="#264796"/>
               <g fill="#264796">
                <path d="m-182.7 262.6v4.9c-6.5-2.9-12.5-6.5-17.2-11.4-0.9-0.9-0.9-2.2 0-3.1s2.2-0.9 3.1 0c3.9 4.1 8.8 7 14.1 9.6z" fill="#264796"/>
               </g>
               <path d="m-187.7 265.8s-0.2 0 0 0c-5.7 1.2-11.3 0.6-15.2-3.7s-5.6-11.7-4.8-22c0.1-1.5 2.1-1.9 2.8-0.6 0 0 2.1 3.8 6.7 7 1.5 1 3.4 1.8 5.6 2.5 1.2 0.3 3.1 1 4.8 2.3v4.5c-2.8-1.5-5.1-3.1-7.2-5-1.6-1.8-4.4-1.8-6.2-0.1-1.8 1.6-1.8 4.5-0.1 6.2 3.8 4 8.6 6.5 13.6 8.9-0.2-0.2 0 0 0 0z" fill="#264796"/>
               <path d="m-150.2 256.3c-1.1 15.7-7.6 28-22.4 23.4v-0.4c3.2-1.1 6.5-2.1 9.5-3.9 2.6-1.4 3.5-4.6 2.1-7.2s-4.6-3.5-7-2.1c-1.4 0.7-3 1.4-4.6 1.9v-3.5c4.4-2.6 7-1.6 11.6-3.7 5.1-2.5 7.6-5.8 7.6-5.8 1.1-1.3 3.4-0.4 3.2 1.3z" fill="#264796"/>
               <g fill="#264796">
                <path d="m-165.5 273.8c-3.3 1.8-6.7 3.1-10 4v-4.7c2.7-0.9 5.3-2 7.8-3.3 1.1-0.7 2.5-0.2 3.1 0.9s0.2 2.5-0.9 3.1z" fill="#264796"/>
               </g>
               <path d="m-203 200.8c2.1-3.2 7.2-3.5 11.8-0.7 3.3 2.1 7.7 7.7 9.4 11.3-1.3 0.8-2.1 2.2-2.4 3.6-3.8 0.2-10.8-1.2-14.2-3.5-4.5-2.6-6.5-7.6-4.6-10.7zm24.1 11.9c1.8 0.1 2.9 1.4 2.9 3.2-0.1 1.8-1.4 2.9-3.2 2.9-1.6-0.1-2.9-1.4-2.9-3.2 0.1-1.6 1.4-2.9 3.2-2.9zm0.9-25.2c3.7 0.2 6.6 4.6 6.5 10-0.2 3.9-2.8 10.5-5.2 13.6-1.3-0.6-2.9-0.7-4.3-0.1-2.1-3.2-4.4-10.1-4.2-14 0.3-5.3 3.5-9.5 7.2-9.5zm23.9 15c1.8 3.3-0.6 8.1-5.3 10.5-3.5 1.8-10.5 3-14.4 2.4-0.1-1.5-0.9-2.8-2.1-3.8 1.9-3.5 6.6-8.8 10.1-10.6 4.7-2.4 9.9-1.8 11.7 1.5zm-1 28.2c-1.9 3.3-7.2 3.5-11.8 0.7-3.3-2.1-7.7-7.7-9.2-11.3 1.1-0.7 2.1-2 2.2-3.6 4-0.2 10.9 1.4 14.2 3.5 4.5 2.8 6.6 7.6 4.6 10.7zm-25 13.3c-3.7-0.2-6.6-4.6-6.3-9.9 0.1-4.1 2.8-10.7 5.1-13.7 1.2 0.8 2.9 0.7 4.3 0.1 2.2 3.4 4.2 10.1 4 14.1 0 5.3-3.2 9.4-7.1 9.4zm-23.9-15c-1.8-3.3 0.7-7.9 5.3-10.5 3.5-1.8 10.6-2.8 14.5-2.5 0.1 1.5 0.7 3.1 1.9 3.9-1.7 3.4-6.5 8.7-10 10.5-4.6 2.6-9.9 1.9-11.7-1.4z" fill="#264796"/>
               <path d="m-170.5 342.6h-71.8c-1.3 0-2.3-1-2.5-2.3-0.8-5.5-0.3-11.1 1.5-16.9 3.3-11.3 14.3-26.8 29.5-31.5"/>
               <path d="m-190.6 304.4 2.3 5.5-3.8 26.7-21.8-44.5c1.8-0.8 3.3-1 4.5-1.5l11.3 16.4c1 1.3 2.8 1.5 3.8 0.5z"/>
               <path d="m-197.1 299.4-8-11.8c2.5-3.5 5-7 6.8-9.3l13 11.1c1.3 1 1.3 2.8 0 3.8l-8 6.5c-1.3 1.2-3 0.9-3.8-0.3z"/>
               <polyline points="-191.3 305 -179 294.8 -167.3 304.4"/>
               <path d="m-164.8 299.9-8-6.5c-1.3-1-1.3-2.8 0-3.8l13-11.1c1.5 2 4.3 5.5 6.8 9.3l-8 11.8c-0.8 1-2.5 1.3-3.8 0.3z"/>
               <path d="m-144 292.1-21.8 44.5-4.8 6 3.3-38.3 3.8 3.3c1 1 2.8 0.8 4-0.5l11.3-16.4c0.9 0.1 2.4 0.6 4.2 1.4z"/>
               <path d="m-144 292.1c5.3 3 13.8 5.8 21 15.1 0.3 0.3 11.8 14.8 9.8 33.5-0.3 1.3-1.3 2-2.5 2h-54.8"/>
               <polygon points="-167.3 304.4 -169.6 342.6 -192.4 342.6 -190.3 305 -184.4 304 -169.6 304"/>
              </g>
             </g>
          </svg>
          </span>
        <h3 class="b f4 mb0">Osobní rozvoj</h3>

        <p class="paragraph-blue f5">Školení, semináře, certifikace</p>
      </li>

      <li class="hover-block__item ph3 pb0 pt5">
        <span class="f5 normal white ">
          <svg aria-hidden="true" data-prefix="fas" data-icon="ticket-alt" role="img" width="3em" height="3em" version="1.1" viewBox="0 0 38.391 43.074" xmlns="http://www.w3.org/2000/svg">
             <g transform="translate(-131.77 -52.618)" fill="#264796">
              <g transform="matrix(.26458 0 0 .26458 198.34 -5.3261)">
               <path d="m-119.7 311.5h-118.6c-7.3 0-13.3 5.4-13.3 12.1v46.1c0 6.7 6 12.1 13.3 12.1h37.8c5.4 0 10-3.5 11-8.3l4.2-20c0.7-3.1 4-5.2 7.4-4.6 2.6 0.4 4.6 2.3 5.1 4.6l4.2 20c1 4.8 5.6 8.3 11 8.3h37.8c7.3 0 13.3-5.4 13.3-12.1v-46.1c0.1-6.7-5.9-12.1-13.2-12.1zm8.5 58.2c0 4.2-3.8 7.7-8.5 7.7h-37.8c-3.1 0-5.7-2-6.2-4.7l-4.2-20c-1.2-5.5-7-9.1-13.1-8.1-4.5 0.8-8 4-8.9 8.1l-4.2 20c-0.6 2.7-3.2 4.7-6.2 4.7h-37.8c-4.7 0-8.5-3.4-8.5-7.7v-46.1c0-4.2 3.8-7.7 8.5-7.7h118.6c4.7 0 8.5 3.4 8.5 7.7v46.1z"/>
               <path d="m-215.3 320.3c-12 0-21.8 8.9-21.8 19.8s9.8 19.8 21.8 19.8 21.8-8.9 21.8-19.8c0-11-9.8-19.8-21.8-19.8zm0 35.1c-9.4 0-16.9-6.9-16.9-15.4s7.6-15.4 16.9-15.4 16.9 6.9 16.9 15.4-7.5 15.4-16.9 15.4z"/>
               <path d="m-142.7 320.3c-12 0-21.8 8.9-21.8 19.8s9.8 19.8 21.8 19.8 21.8-8.9 21.8-19.8c0-11-9.8-19.8-21.8-19.8zm0 35.1c-9.4 0-16.9-6.9-16.9-15.4s7.6-15.4 16.9-15.4 16.9 6.9 16.9 15.4-7.6 15.4-16.9 15.4z"/>
              </g>
              <path d="m162.07 71.773-2.1431-2.5135-0.0529 0.97896-2.3283-1.1642v-8.2285-0.02646-0.02646-0.02646-0.02646-0.02646-0.02646-0.02646s0-0.02646-0.0265-0.02646v-0.02646l-0.0265-0.02646s-0.0264-0.02646-0.0264-0.02646l-0.0265-0.02646h-0.0265s-0.0265 0-0.0265-0.02646h-0.0265l-5.9531-2.9633v-2.2754l0.89958 0.37042-1.3229-3.0162-1.27 3.0427 0.89959-0.37042v2.249l-5.9531 2.9633s-0.0265 0-0.0265 0.02646c0 0-0.0265 0-0.0265 0.02646h-0.0265l-0.0265 0.02646s-0.0265 0-0.0265 0.02646l-0.0265 0.02646v0.02646s0 0.02646-0.0265 0.02646v0.02646 0.02646 0.02646 0.02646 0.02646 0.02646 0.02646 8.2285l-2.3283 1.1642-0.0529-0.97896-2.1431 2.5135 3.2808-0.21167-0.74083-0.635 2.3812-1.1906 5.9796 2.9898h0.0265 0.0265c0.0265 0 0.0529 0.02646 0.0529 0.02646h0.0794 0.0794c0.0264 0 0.0529 0 0.0529-0.02646h0.0265 0.0265l5.9796-2.9898 2.3812 1.1906-0.74083 0.635zm-10.689-7.62 5.3975-2.6988v7.2231l-5.3975-2.6988zm4.8948-3.3073-4.9212 2.4606v-4.9212zm-5.6885 2.4606-4.9212-2.4606 4.9212-2.4606zm-5.371-1.8521 5.3975 2.6988v1.8256l-5.3975 2.6988zm5.371 5.3975v4.9212l-4.9212-2.4606zm0.79375 4.9212v-4.9212l4.9212 2.4606z" stroke-width=".26458"/>
             </g>
            </svg>
        </span>
        <h3 class="b f4 mb0">Moderní technologie</h3>

        <p class="paragraph-blue f5">3D tiskárna, 3D modelování budov</p>
      </li>
    </ul>
  </section>

  <div class="jobs__body pt3">

 		<section class="jobs__open-positions mb6-ns mb3" id="open-positions">
      <h2 class="f2-ns f3 mt4">Aktuálně hledáme</h2>

      <ul class="jobs__open-positions__list mt4">
        
        <li>
          <h3 class="jobs__open-item-heading">Junior projektant/kreslič &ndash; Pozice vhodná pro absolventy</h3>
          <p class="jobjobs__openjobs__openjobs__open-item-metadata paragraph-blue f5 ">
            Prunéřov, Ústecký kraj · Plný úvazek · 25 000 &ndash; 35 000 Kč/měsíc
          </p>
        </li>
        
        <li>
          <h3 class="jobs__open-item-heading">Zámečník, klempíř</h3>
          <p class="jobjobs__openjobs__openjobs__open-item-metadata paragraph-blue f5 ">
            Prunéřov, Ústecký kraj · Plný úvazek · 20 000 &ndash; 35 000 Kč/měsíc
          </p>
        </li>

        <li>
          <h3 class="jobs__open-item-heading">Instalatér</h3>
          <p class="jobjobs__openjobs__openjobs__open-item-metadata paragraph-blue f5 ">
            Prunéřov, Ústecký kraj · Plný úvazek · 20 000 &ndash; 35 000 Kč/měsíc
          </p>
        </li>

        <li>
          <h3 class="jobs__open-item-heading">Zedník</h3>
          <p class="jobjobs__openjobs__openjobs__open-item-metadata paragraph-blue f5 ">
            Prunéřov, Ústecký kraj · Plný úvazek · 22 000 &ndash; 25 000 Kč/měsíc
          </p>
        </li>

        <li>
          <h3 class="jobs__open-item-heading">Malíř, natěrač</h3>
          <p class="jobjobs__openjobs__openjobs__open-item-metadata paragraph-blue f5 ">
            Prunéřov, Ústecký kraj · Plný úvazek · 20 000 &ndash; 35 000 Kč/měsíc
          </p>
        </li>

        <li>
          <h3 class="jobs__open-item-heading">Řidič, strojník, mechanizátor</h3>
          <p class="jobjobs__openjobs__openjobs__open-item-metadata paragraph-blue f5 ">
            Prunéřov, Ústecký kraj · Plný úvazek · 20 000 &ndash; 35 000 Kč/měsíc
          </p>
        </li>

      </ul>

      <div>
        <p class="mt5 pt4 bt b--light-gray">Baví vás práce a děláte ji dobře, ale nenašli jste v seznamu svou specializaci?
        <span class="">Nevadí, pošlete nám svůj <a href="#cv" class="base-blue-f fw7">životopis</a> nebo <a href="#jobs-form" class="base-blue-f fw7">vyplňte krátký formulář</a>.</span></p>
      </div>
  	</section>
  </div>

  <section class="section-with-side__inner pv5 ph4 section-cv section-cv--centered mb0" style="background-color: #f7f8fa;" id="cv">
    <figure class="section-cv__figure">
      <span class="f5 normal white "><svg aria-hidden="true" data-prefix="fas" data-icon="file-signature" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-file-signature fa-w-18"><path fill="#264796" d="M218.17 424.14c-2.95-5.92-8.09-6.52-10.17-6.52s-7.22.59-10.02 6.19l-7.67 15.34c-6.37 12.78-25.03 11.37-29.48-2.09L144 386.59l-10.61 31.88c-5.89 17.66-22.38 29.53-41 29.53H80c-8.84 0-16-7.16-16-16s7.16-16 16-16h12.39c4.83 0 9.11-3.08 10.64-7.66l18.19-54.64c3.3-9.81 12.44-16.41 22.78-16.41s19.48 6.59 22.77 16.41l13.88 41.64c19.75-16.19 54.06-9.7 66 14.16 1.89 3.78 5.49 5.95 9.36 6.26v-82.12l128-127.09V160H248c-13.2 0-24-10.8-24-24V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24v-40l-128-.11c-16.12-.31-30.58-9.28-37.83-23.75zM384 121.9c0-6.3-2.5-12.4-7-16.9L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1zm-96 225.06V416h68.99l161.68-162.78-67.88-67.88L288 346.96zm280.54-179.63l-31.87-31.87c-9.94-9.94-26.07-9.94-36.01 0l-27.25 27.25 67.88 67.88 27.25-27.25c9.95-9.94 9.95-26.07 0-36.01z" class=""></path></svg></span>
    </figure>

    <div class="section-cv__content">
      <h2 class="f2-ns f3 mb0">Pošlete nám svůj životopis</h2>
      <p class="f4-ns f5 mb2 paragraph-blue measure-wide">V životopise nezapomeňte uvést svůj kontaktní e-mail nebo telefon.</p>

      <%= form_tag('/jobs/cv', multipart: true) do %>
        <p class="f4-ns f5 mt5-ns mt3">
          <span class="f5 normal ml12">
            <svg aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-right fa-w-14" width="18" height="18"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z" class=""></path>
            </svg>
            <%= file_field('job', 'cv', id: 'cv_file') %>
          </span>
          <div id="cv-submit" style="display: none;">
            <div class="mt4">
              <ul class="unstyled centered">
                <li>
                  <input class="styled-checkbox" id="gdpr-consent-cv" type="checkbox" value="value1">
                  <label for="gdpr-consent-cv" class="account-form-container__footer paragraph-blue">Zaškrtnutím souhlasíte s <a class="base-blue-f" href="/zasady-pouziti" target="_blank" title="Stránka zásady užití, otevře se v novém okně">našimi zásadami použití</a> a <a class="base-blue-f" href="/data/Informace-GDPR-Jampl.pdf" target="_blank" title="Stránka s politikou ochrany dat, otevře se v novém okně">politikou ochrany osobních dat</a>.</label>
                </li>
              </ul>
            </div>
            <div class="mt4">
              <button type="submit" class="btn   white hover-white base-blue-f f6 fw7 fw9-l ph4 pv3 grow dib v-mid z-999 ttu grow pointer" id="cv-form-submit" disabled="true" formnovalidate="">Odeslat</button>
            </div>
          </div>
          <script type="text/javascript">
            document.getElementById('cv_file').onchange = function() {
              document.getElementById('cv-submit').style.display = 'block';
            };
            document.getElementById('gdpr-consent-cv').addEventListener('change', function(evt){
              document.getElementById('cv-form-submit').disabled = !document.getElementById('gdpr-consent-cv').checked;
            });
          </script>
        </p>
      <% end %>
    </div>
  </section>

  <section class="pb6-ns pb3 bt b--light-gray  footer--dark" style="max-height: 550px;">
    <%= render 'shared/job_form', job: @job %>
  </section>
</main>

<footer role="contentinfo" class="footer-main footer-main--landing bg-white">
  <div class="footer-main__inner justify-between flex">
    <a href="/" class="footer__logo f7 white-70" title="Přejít na domovskou stránku JAMPL">
      <span class="visually-hidden">Společnost JAMPL</span>
      <svg version="1.1" viewBox="0 0 306.82 58.536" xmlns="http://www.w3.org/2000/svg" width="160" height="28.816" aria-hidden="true">
          <g transform="matrix(1.3333 0 0 -1.3333 -625.94 372.64)"fill-rule="evenodd">
            <path fill="#264796" d="m666.36 277.98h13.699l-2.3558-8.7919h-13.699zm-66.965 0h13.699l-2.3558-8.7919h-47.969l2.3559 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.705-21.292h-13.699l6.2479 23.318h47.969l-6.2479-23.318h-13.699l5.7048 21.292-12.641-8.7919zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.2751l-9.4124-14.526zm20.805 32.11 5.6631 8.74 14.221 0.0519 0.7989-8.7919zm-15.761-8.792-1.3005-4.854c-3.0393-11.344-6.5747-18.464-18.464-18.464h-20.689l2.3555 8.7922h17.834c2.2799 0 3.1141 1.6483 3.6507 3.6505l2.9141 10.876zm-29.494 17.584h34.206l-2.3559-8.7919h-34.206zm144.01-26.376-3.8923-14.526h-13.699l5.3173 19.844h2e-4l0.9309 3.4741h27.201c2.4183 0 4.9255 1.9783 5.5735 4.396 0.6477 2.418-0.7999 4.396-3.2176 4.396h-27.201l2.3559 8.7919h30.357c7.2533 0 11.598-5.9346 9.6542-13.188-1.9434-7.2533-9.4688-13.188-16.722-13.188zm49.422 8.7919-3.8926-14.526h26.616l-2.3559-8.7922h-40.315l6.2481 23.318z"/>
          </g>
      </svg>
    </a>

    <nav class="footer-nav mw7 justify-between flex">

      <div class="mb5">
        <h2 class="mt0 mb1 f4 fw7">Všechno o nás</h2>
        <ul>
          <li class=""><a href="/o-nas">O nás</a></li>
          <li class=""><a href="/prehled-cinnosti">Přehled činností</a></li>
          <li class=""><a href="/bim">3D a BIM</a></li>
          <li class=""><a href="/reference">Reference a fotodokumentace</a></li>
          <li class=""><a href="/kariera">Pracujte pro nás</a></li>
          <li class=""><a href="/kontakt">Kontakty</a></li>
        </ul>
      </div>

       <div class="mb5">
        <h2 class="mt0 mb1 f4 fw7">Další informace</h2>
        <ul>
          <li class=""><a href="/zasady-pouziti">Zásady použítí</a></li>
          <li class=""><a href="/privacy">Ochrana osobních dat</a></li>
        </ul>
      </div>


      <div class="mb5">
        <h2 class="mt0 mb1 f4 fw7">Sociální sítě</h2>
        <ul t>
          <li>
            <a href="https://www.facebook.com/jamplpsv/" class="link dim dib  black-70" title="JAMPL na Facebooku, otevře se v novém okně" target="_blank" rel="noopener" aria-label="Facebook JAMPLu">
              <svg class="db w2 h2" data-icon="facebook" viewBox="0 0 32 32" fill="#264796">
              <title >facebook icon</title>
                <path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z">
                </path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/jampl-psv-s-r-o/" class="link dim dib black-70" target="_blank" aria-label="LinkedIn JAMPLu" rel="noopener" title="JAMPL na LinkedIn">
              <svg class="db w2 h2" x="0px" y="0px" viewBox="0 0 48 48" >
                <linearGradient gradientUnits="userSpaceOnUse" x1="23.9995"
                  y1="0" x2="23.9995" y2="48.0005" >
                  <stop offset="0" ></stop>
                  <stop offset="1" ></stop>
                </linearGradient>
                <path fill="#264796" d="M48,42c0,3.313-2.687,6-6,6H6c-3.313,0-6-2.687-6-6V6 c0-3.313,2.687-6,6-6h36c3.313,0,6,2.687,6,6V42z"
                ></path>
                <g >
                  <g >
                    <path fill="#fff" d="M15.731,11.633c-1.608,0-2.658,1.083-2.625,2.527c-0.033,1.378,1.018,2.494,2.593,2.494 c1.641,0,2.691-1.116,2.691-2.494C18.357,12.716,17.339,11.633,15.731,11.633z M13.237,35.557h4.988V18.508h-4.988V35.557z M31.712,18.748c-1.595,0-3.222-0.329-4.956,2.36h-0.099l-0.087-2.599h-4.417c0.065,1.411,0.074,3.518,0.074,5.52v11.529h4.988 v-9.854c0-0.46,0.065-0.919,0.196-1.248c0.328-0.919,1.149-1.871,2.527-1.871c1.805,0,2.527,1.411,2.527,3.479v9.494h4.988V25.439 C37.455,20.713,34.993,18.748,31.712,18.748z"
                    ></path>
                  </g>
                </g>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="footer-main__bottom tr mt3 base-blue-f">
    <p>1991 — 2018</p>
  </div>
</footer>
