$base-color: #264796;
$btn-link: #0087ca;
$base-color-dark: #122248;


body {
  color: #204e57;
  font: normal 17px/1.7 Lato, "helvetica neue", helvetica, "segoe ui",arial,sans-serif;
}


ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #0d99df;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
    outline: 3px solid $btn-link;
  }
}

p, ul, ol, blockquote, table, pre {
    margin: 0 0 1.7rem;
} 

.bb--dotted {
  border-bottom: 3px dotted;
}

.btn:hover, .btn:focus {
  text-decoration: none;
  background-color: #18b0fc;
  box-shadow: rgba(17,175,254,0.4) 0 3px 20px;
}

.btn {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  font: bold 1em/1.4 Lato,"helvetica neue",helvetica,ubuntu,roboto,noto,"segoe ui",arial,sans-serif;
  text-align: center;
  padding: .6em 1.2em;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: #1DABF2;
  box-shadow: rgba(29,171,242,0.3) 0 3px 16px;
  transition: background-color .2s ease-out, box-shadow .2s ease-out;
}

.btn.style--cotton {
  border-radius: .25rem;
  background-color: #fdfdfd;
  box-shadow: rgba(0,92,129,0.15) 0 2px 10px;
  transition: box-shadow .3s ease, background-color .3s ease, color .3s ease, -webkit-transform .2s ease;
  transition: box-shadow .3s ease, background-color .3s ease, transform .2s ease, color .3s ease;
  transition: box-shadow .3s ease, background-color .3s ease, transform .2s ease, color .3s ease, -webkit-transform .2s ease;
}

.btn.style--cotton:hover, .btn.style--cotton:focus {
  background-color: #fff;
  box-shadow: rgba(0,92,129,0.15) 0 2px 15px;
}

.btn.mode--link--muted:hover {
    color: #51afdd;
}
.btn.mode--link:hover {
    background-color: transparent;
    color: #1DABF2;
}
.btn.mode--link:focus, .btn.mode--link:hover {
    text-decoration: underline;
}
.btn.mode--link--muted {
    color: #4D9FC7;
}
.btn.mode--link {
    color: $base-color;
    background: transparent;
        background-color: transparent;
    padding: 0;
    box-shadow: none;
}

.base-blue-f {
  color: #264796;
}

#skippy {
  display: block;
  padding: 1em;
  color: #fff;
  background-color: #000;
  outline: 0;
}
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.navbar-nav > li:not(:last-child) {
  padding-right: 1.8rem;
  white-space: nowrap;
}

.nav-item > a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    color: #fff;
  }
}

.nav-item > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  bottom: 0;
  transition: opacity .15s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, opacity .15s ease;
  transition: transform .3s ease, opacity .15s ease, -webkit-transform .3s ease;
  -webkit-transform: translate3d(10%, 0, 0);
  transform: translate3d(10%, 0, 0);
  background-color: #fff;
  color: #fff;
  padding: 5.1rem calc(.5rem + 2%) 1em;
  font-size: 2em;
  font-weight: 900;
  text-align: right;
  overflow-y: scroll;
}

.footer-main {
  padding: 2.55rem 10% 1.7rem 5%;
}

.footer-main .footer-nav {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
}

.footer--dark {
  background-color: $base-color-dark;
}

.customers-logo-grid .company-logo {
  max-height: 2.35294em;
  max-width: 7.05882em;
  fill: rgba(102,142,167,0.6);
}

.customers-logo-grid {
  list-style: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  opacity: .7;
  pointer-events: none;
  transition: -webkit-filter 0.2s ease-out;
  transition: filter 0.2s ease-out;
  transition: filter 0.2s ease-out, -webkit-filter 0.2s ease-out;
}

.customers-preview:hover .customers-logo-grid {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.customers-preview__cta {
  opacity: 0;
  transition: opacity .2s linear;
  position: absolute;
  -webkit-transform: translateZ(-30px);
  transform: translateZ(-30px);
  top: 30%;
  left: 50%;
  pointer-events: none;
}

.customers-preview__cta .btn {
  position: relative;
  top: -50%;
  left: -50%;
  color: #8FA1F2;
}

.customers-preview:hover .customers-preview__cta {
  pointer-events: all;
  opacity: 1;
}


//ABOUT
.team-members-list li {
    margin: 0 5% 1.7rem;
    position: relative;
}

.team-members-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.team-members-list .member__image {
    position: relative;
    z-index: 10;
    border-radius: 100%;
    width: 165px;
}

.team-members-list .member__name {
    margin: .5rem 0 0;
}

.team-members-list .member__specialization {
    color: #668ea7;
    font-size: .9rem;
}



//LAYOUT
.layout-feature--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.layout-feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.layout-feature--reverse .layout-feature__text {
    padding-left: 2vw;
    padding-right: 6vw;
}
.layout-feature__text {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
    padding-left: 6vw;
    padding-right: 2vw;
}

.layout-feature__figure {
    display: block;
}
.layout-feature--reverse .layout-feature__figure {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.layout-feature__figure {
  padding-left: 6vw;
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}


.layout-feature__inner {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.tilted-mask {
    position: relative;

    &:after {
      background: transparent url(asset-path('skewed-right.svg')) 
      no-repeat left top;
      background-size: cover;
      display: block;
      content: '';
      height: 660px;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 0;
      bottom: 0;
    }
}

.layout-hero {
    text-align: left;
}
.layout-hero {
    height: 700px;
}
.layout-hero {
    background-image: 
  linear-gradient(to right bottom, 
     rgba(38, 71, 150, 0.9),
     rgba(38, 71, 150, 0.9)),
    image-url("img-construction-site.jpg"); 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
