// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$base-color: #264796;


h1 {
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif;
  text-align: justify;}

.blue-bg{
  position: fixed;
  background: url(https://www.mangoafricansafaris.com/sites/www.mangoafricansafaris.com/files/styles/original/public/gallery/chumbe_bungallow_and_forest_overview_oskar_henriksson.jpg?itok=UXkgUC5y);
  background-size: cover;
  background-color: #58aff6;
  top: 0;
  height: 400px;
  width: 100vw;
  z-index: -1;
  overflow-x: hidden;}

.white-bg{
  position: absolute;
  top: 0;
  background-color: #fff;
  min-height: 500px;
  margin: 80vh 0px;
  width: 100vw;
  height: 300vh;
  transform: skewY(-25deg);
  z-index: -1;}

.content{
  position: absolute;
  top: 0;
  margin: 150vh 10vw;
  max-width: 60vw;
  background-color: transparent;
  text-align: right;
    }
.shadow{
  box-shadow: -2px -5px 5px 0px rgba(0,0,0,0.3);
}





html {
	overflow-y: scroll;
}

body {
	font-family: 'Poppins', sans-serif !important; 
	vertical-align: baseline;
}

.global-contacts {
	background-color: #ebebeb;
}


.global-contacts-link-map {

}

.navbar-nav > li {
  float: left;
  position: relative;
}

.navbar-nav .active a::after {
  border-bottom: 5px solid #fff;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}

.nav-item.active {
	font-weight: bold;
}

.nav-link {
	color: #fff;

  &:hover {
  	color: #ffffff90 !important;
  	border-bottom: 5px solid #ffffff90 !important;
	  bottom: -10px;
  }
}

.masthead {
	overflow-x: hidden;
	position: fixed; 
	width: 100vw;
	z-index: -1;
	margin-bottom: 45px;
	background-color: $base-color;
	height: 90vh;
	background-image: 
	linear-gradient(to right bottom, 
     rgba(38, 71, 150, 0.9),
     rgba(38, 71, 150, 0.9)),
		image-url("samuel-zeller-237227-unsplash.jpg");
	
	background-size: cover;
	background-position: top;
}

.hero {
  padding: 45px 0;
  padding-top: 45px;
	max-width: 960px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  padding: 15px 0;
}

.hero__title, .hero__description {
    margin-bottom: 30px;
}

.hero__title {
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 700;
  text-transform: none;
}

.hero__description {
  font-size: 24px;
  line-height: 1.25;
}

a.hero-button, 
a.hero-button:link, 
a.hero-button:visited {
  color: $base-color;
}

.hero a:link, 
.hero a:visited {
  font-weight: bold;
  color: $base-color;
}

a.hero-button {
  display: inline-block;
  text-align: left;
  font-size: 24px;
  line-height: 1.25;
}

a.hero-button {
  background-color: #fff;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #d9d9d9;
  -moz-box-shadow: 0 2px 0 #d9d9d9;
  box-shadow: 0 2px 0 #d9d9d9;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: 0.3684210526em 2.1578947368em 0.2105263158em 0.8421052632em;
	margin: 0 0.416666667em 0.416666667em 0;
	text-transform: uppercase;
}